<div class="login_container">
  <div id="user_name_container">
    <label>Username</label>
    <input id="username" type="email" required placeholder="Enter Your Username">
  </div>
<div id="password_container">
  <label>Password</label>
  <input id="password" type="password" required placeholder="Enter Your password">
</div>
<div id="buttons">
  <button id="login" type="submit"   (click)="login()">LOGIN</button>
  <button id="create" type="submit"  (click)="create()">CREATE ACCOUNT</button>

</div>
</div>
